{% if not images %}
<p class="message">No images to display.</p>
{% else %}
{% block thumbnails %}
<div class="thumbnails">
{% for image in images %}
  <div class="screenshot">
    <a href="/static/screenshot/{{ image.filename }}">
    <img class="screenshot" src="/static/screenshot/{{ image.thumbnail }}" alt="{{ image.filename }}">
    </a><br>
    Taken: {{ image.timestamp }}
    <hr>
  </div>
{% endfor %}
</div>
<div class=footer>
Images as of {{ first_date }}.<br>
Last lookup on {{ last_date }}.</td></tr>
Currently only staff users can delete images.
<div>
{% endblock %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?page={{ images.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>

        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% endif %}

